.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .create-button {
    display: flex;
    align-items: center;
  }
  
  .create-button button {
    margin-right: 0;
  }
  